
{{#if hayMensajes}}

<h2>Lista de Articulos</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>ID</th>
            <th>Remitente</th>
            <th>Mensaje</th>
           
        </tr>
        {{#each mensajesN}}
        <tr>
            <td>{{this.id}}</td>           
            <td>{{this.autor}}</td>
            <td>{{this.texto}}</td>
        
        </tr>
        {{/each}}
    </table>
</div>
{{else}}
<p class="alert alert-warning">No hay mensajes para mostrar...</p>
{{/if}}